html,
body {
  height: 100%;
}

[v-cloak] {
  display: none;
}

.navbar svg {
  color: currentColor;
  width: 1.3em;
  height: 1.3em;
  margin-right: 15px;
}

.btn {
  font-weight: bold;
}

.alert-enter-active,
.alert-leave-active {
  transition: opacity 0.5s;
}

.alert-enter,
.alert-leave-to {
  opacity: 0;
}

table th:nth-child(n + 3),
td:nth-child(n + 3) {
  text-align: right;
}

table {
  font-size: 15px;
}
